<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id} (id = ${user.getId()})}" th:object="${user}">
    <div>
        <label for="firstName">Enter first name:</label>
        <input th:field="*{firstName}" type="text" id="firstName"/>
        <div style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name error
        </div>
        <br/>
        <label for="lastName">Enter last name:</label>
        <input th:field="*{lastName}" type="text" id="lastName"/>
        <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name error</div>
        <br/>
        <label for="age">Enter age:</label>
        <input th:field="*{age}" type="number" id="age"/>
        <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
        <br/>
        <label for="email">Enter email:</label>
        <input th:field="*{email}" type="email" id="email"/>
        <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
        <br/>
        <label for="username">Enter username:</label>
        <input th:field="*{username}" type="text" id="username"/>
        <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
        <br/>
        <label for="password">Enter password:</label>
        <input th:field="*{password}" type="password" id="password"/>
        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
        <br/>
        <label for="passwordConfirm">Confirm password:</label>
        <input th:field="*{passwordConfirm}" type="password" id="passwordConfirm"/>
        <div style="color: red" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Password
            confirm error
        </div>
        <br/>
        <div class="container">
            <select th:name="role" multiple size="2" th:required="true">
                <option th:each="thisRole : ${roles}"
                        th:value="${thisRole.id}"
                        th:utext="${thisRole.role}"
                ></option>
            </select>
        </div>
        <input type="submit" value="Update user"/>
    </div>
</form>

<a th:href="@{/logout}">Logout</a>
</body>
</html>