<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table th:border="1">
    <tr>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    <tr>
        <th th:text="${user.getUsername()}">Username</th>
        <th th:text="${user.getFirstName()}">First name</th>
        <th th:text="${user.getLastName()}">Last name</th>
        <th th:text="${user.getAge()}">Age</th>
        <th th:text="${user.getEmail()}">Email</th>
        <th>
            <p th:each="role : ${user.getRoles()}" th:text="${role.getRole()}">
        </th>
    </tr>
</table>
<br/>
<br/>
<form th:action="@{/logout}" method="post">
    <button type="submit">Sign Out</button>
</form>
</body>
</html>